@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.thasadith-regular {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pin-process {
    overflow: hidden;
    width: 400%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;

 

}

.process-item-wrapper,
.process-item-wrapper-last {

    height: 58vh;
    border: .5px solid white;
    border-radius: 10px;
    position: relative;
    margin-right: 3px;
    box-sizing: border-box;
    filter: grayscale(45%);
    font-family: Thasadith, Arial, sans-serif;
}

.process-item-wrapper {
    /* width: 25vw; handled in jsx */
    background: #171717;
    background: linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);
}

.process-item-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.process-item-wrapper:hover {
    background-color: gray
}

.process-item-wrapper-last {
    /* width: 76vw;  handled in jsx*/
    background-color: white;
    color: black;
    margin-left: 3px;

}