li {
  list-style: none;
}

img {
  border-style: none;
}

html,
body, main {
  background: #1F1E2E;
  overflow-x: hidden;

}

main {
  margin-top: 0px;
  /* uncomment next two lines for gradient effect on welcome main only.  */
  /* height: 110vh; */
  /* background: linear-gradient(349deg, rgba(2,0,36,1) 0%, rgba(51,51,54,1) 26%, rgba(0,0,0,1) 100%); */
  color: white
}


.metallic-button {
  --shine-deg: 45deg;
  position: relative;
  overflow: hidden;
  border-radius: 0.875rem;
  padding: 4rem 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 180px;
  background: linear-gradient(to bottom, #f4f0f0, #f2ecf4, rgb(123, 123, 128));

}

.metallic-button:after {
  content: "";
  top: 0;
  transform: translateX(100%) rotate(var(--shine-deg));
  width: 300%;
  height: 300%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(30deg,
      transparent 20%,
      transparent 40%,
      rgb(255, 255, 255, 0.4) 50%,
      rgb(255, 255, 255, 0.4) 55%,
      transparent 70%,
      transparent 100%);
  transition: transform 2s ease-in;
  transform: translateX(100%) rotate(var(--shine-deg));
}

.metallic-button:hover:after {
  animation: shine 1s infinite ease-in;
}

@keyframes shine {
  0% {
    transform: translateX(100%) rotate(var(--shine-deg));
  }

  100% {
    transform: translateX(-100%) rotate(var(--shine-deg));
  }
}