/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */

/* Base styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  min-height: 100%;
  width: 100%;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 1.4;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-image: linear-gradient(to right, #2F586A, #1E121C);
}

body {
  min-height: 100vh;
  overflow: hidden;
} */

/* Layout */

.scroll-trigger {
  margin-bottom: 200px;
}
section {
  margin-top: 50px;
  height: 75vh;

 display: flex ;
 align-items: center;

  width: 100%;
  font-size: clamp(18px, 8vw, 26px);
  line-height: 1.4;
  overflow-x: hidden;
  /* font-family: 'Poppins', sans-serif; */
  color: white;
}

.container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

/* Reveal */
.reveal {
  font-kerning: normal;
  /* text-transform: uppercase; */
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
}

.reveal span {
  display: inline-block;
  opacity: 0; /* Set opacity to 0 to start with animation */
}
